/* body {
  background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url("https://res.cloudinary.com/debkwdctz/image/upload/v1676501386/School%20Project%20Images/morning_urlcrh.png");
  object-fit: cover;
  transition: 0.4s ease-out;
  background-color: #cccccc;
 } */

 html {
  min-height:100%;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.422),rgba(0, 0, 0, 0.512)), url(https://res.cloudinary.com/debkwdctz/image/upload/v1676501386/School%20Project%20Images/morning_urlcrh.png);
  background-size:cover;
  transition: 0.4s ease-out;
  background-color: #121212;
}

.developer{
  color: #98aaa6ac;
  font-weight: 600;
}

.developer a {
  color: #98AAA6;
}
